body
{
background-color:darkblue;

	color: blue;



}

h2 
{
	
	color: darkred;
	
	position: relative;
	display: center;
	font-size: 20px;
	font-family: arial black;  
	
	


}

.cadre1
{
background-color: grey;
border: 4px solid black;
text-align: center;
width: 100%;
margin-left: auto;
margin-right: auto;

}

.cadre2
{
background-color: skyblue;
border: 4px solid blue;
text-align: center;
width: 60%;
margin-left: auto;
margin-right: auto;
}

.p1

{

	color: grey;
}

.p2
{
	color: darkslategrey;
}

h1
{
   width: 100%;
   margin-left: auto;
	margin-right: auto;

	color: whitesmoke;
}
.b, .o, .u, .n, .c, .e {
	color: #4cc9f0;
	text-shadow: 0 3px #4361ee, 0 5px #4361ee, 0 7px #4361ee;
  

 position: top;

}





  
  .bouncing-text {
	position: relative;
	display: flex;
	font-size: 30px;
	font-family: arial black;  
	width: 100%;
	text-align: center;

}
  @keyframes bounce {
	0%   { transform: scale(1,1) translateY(0); }
	10%  { transform: scale(1.1,.9) translateY(0); }
	30%  { transform: scale(.9,1.1)   translateY(-55px);}
	50%  { transform: scale(1.05,.95) translateY(0); }
	58%  { transform: scale(1,1) translateY(-7px); }
	65%  { transform: scale(1,1) translateY(0);}
	100% { transform: scale(1,1) translateY(0);}
}

.b {
animation: bounce 1s ease infinite;
text-align: center;
}

.o {
animation: bounce 1s ease infinite .1s;
text-align: center;
}

.u {
animation: bounce 1s ease infinite .2s;
text-align: center;
}

.n {
animation: bounce 1s ease infinite .3s;
text-align: center;
}

.c {
animation: bounce 1s ease infinite .4s;
text-align: center;
}





table
{
	width: 400px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}