body
{
    background-color: black;
    font-family: arial;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: red;
text-align: center;
}

div
{
   
   width: 50%;
   
    border: solid 2px red;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
text-align: center;
}

button

{

    width: 300px;
    border: 2px solid black;
    border-radius: 26px;
    background-color: red;
    height: 50px;
    padding: 12px 32px;
    margin-top: 5px;
    margin-bottom: 5px;
}
input
{
background-color: black;
border: solid 2px white;
border-radius: 25px;
width: 400px;
height: 20px;
padding: 12px 32px;
margin-top: 5px;

}

button:hover {
    background-color: black;
    color: white;
    border: 2px solid white;
    cursor: pointer;
}

